{{^isModel}}
    {{^isAnyType}}
        {{#isContainer}}
            {{#isMap}}
                {{#items}}
{{^isModel}}key/value{{/isModel}}
                {{/items}}
            {{/isMap}}
        {{/isContainer}}
    {{/isAnyType}}
{{/isModel}}