{{^isModel}}
    {{^isAnyType}}
        {{#isContainer}}
            {{#isArray}}
                {{#items}}
{{#isModel}}<<{{complexType}},{{#lambda.titlecase}}{{baseName}}{{/lambda.titlecase}}>>{{/isModel}}
                {{/items}}
            {{/isArray}}
        {{/isContainer}}
    {{/isAnyType}}
{{/isModel}}