{{^isModel}}
    {{^isAnyType}}
        {{#isContainer}}
            {{#isArray}}
                {{#items}}
{{#isString}}{{#lambda.lowercase}}{{dataType}}{{/lambda.lowercase}}{{/isString}}
{{#isNumeric}}{{#lambda.lowercase}}{{dataType}}{{/lambda.lowercase}}{{/isNumeric}}
{{#isBinary}}{{#lambda.lowercase}}{{dataType}}{{/lambda.lowercase}}{{/isBinary}}
{{#isBoolean}}{{#lambda.lowercase}}{{dataType}}{{/lambda.lowercase}}{{/isBoolean}}
{{#isDate}}{{#lambda.lowercase}}{{dataType}}{{/lambda.lowercase}}{{/isDate}}
{{#isDateTime}}{{#lambda.lowercase}}{{dataType}}{{/lambda.lowercase}}{{/isDateTime}}
                {{/items}}
            {{/isArray}}
        {{/isContainer}}
    {{/isAnyType}}
{{/isModel}}