{{#isModel}}
    {{#vendorExtensions}}
{{^x-kubernetes-int-or-string}}{{#lambda.titlecase}}{{baseName}}{{/lambda.titlecase}}{{/x-kubernetes-int-or-string}}
    {{/vendorExtensions}}
{{^vendorExtensions}}{{#lambda.titlecase}}{{baseName}}{{/lambda.titlecase}}{{/vendorExtensions}}
{{/isModel}}