[.fields-{{classname}}]
[cols="2,4"]
|===
| Field| Description

{{#vars}}
    | *{{baseName}}* +
    {{#isModel}}
        {{#vendorExtensions}}
            {{#x-kubernetes-int-or-string}}{{> varType}}{{/x-kubernetes-int-or-string}}
            {{^x-kubernetes-int-or-string}}<<{{datatype}},{{> varType}}>>{{/x-kubernetes-int-or-string}}
        {{/vendorExtensions}}
        {{^vendorExtensions}}<<{{datatype}},{{> varType}}>>{{/vendorExtensions}}
    {{/isModel}}
    {{^isModel}}{{> varType}}{{/isModel}}
    | {{#required}}_(Optional)_ + {{/required}}
    {{description}}
{{/vars}}
|===